@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  background-color: rgb(208, 221, 32);
  font-family: 'Cabin', Arial, Helvetica, sans-serif;
}

/* Header */
header {
  padding: 2rem 0;
  border: 2px solid;
  text-align: left;
  background-color: rgb(43, 35, 114);
}

h1 {
  font-family: 'Luckiest guy', Verdana, sans-serif;
  font-size: 3rem;
  margin-left: 100px;
  color: rgb(0, 255, 191);
  text-shadow: 10px 10px 10px #111111;
  display: inline;
}

/* Bookshelf */
.bookshelf {
  border: solid black;
  margin: 1rem;
  height: 500px;
  display: flex;
  justify-content: start;
}

.book {
  border: 2px solid black;
  margin: 2rem;
  justify-content: space-between;
  text-align: center;
  width: 240px;
  color: white;
  background-color: rgb(33, 15, 68);
  border-radius: 10px;
}

.book h3 {
  margin: 15px 0;
  padding:15px;
}
.book-content {
  margin-bottom: 10px;
}
.book button {
  margin: 10px;
  color: rgb(64, 252, 7);
  background-color: #ee0202b7;
  font-size: 20px;
  border: none;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  padding: 5px;
}

.book button:active {
  transform: translateY(4px); 
  transition: 100ms ease-in;
}

/* Form */
.module {
  position: fixed;
  border: solid black;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 200ms ease-in-out;
  border-radius: 15px;
  z-index: 2;
  background-color: #fff;
  width: 400px;
    padding: 30px;
    box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.1);
}

.module.active {
  transform: translate(-50%, -50%) scale(1);
}

.form-title {
    font-size: 35px;
    font-weight: 600;
    text-align: center;
}

.module form {
    margin-top: -20px;
}

.module form .data {
    height: 45px;
    width: 100%;
    margin: 40px 0;
}

form .data input {
    height: 100%;
    width: 100%;
    font-size: 17px;
    border: 1px solid lightgray;
    outline: none;
    padding-left: 10px;
}

form .data select {
    height: 100%;
    width: 100%;
    font-size: 17px;
    border: 1px solid lightgray;
    outline: none;
    padding-left: 10px;
}

form .data label {
    font-size: 18px;
}

#overlay {
  position: fixed;
  opacity: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  pointer-events: none;
  transition: 200ms ease-in-out;
}

#overlay.active {
  pointer-events: all;
  opacity: 1;
}

/* Buttons */
.add-button {
  cursor: pointer;
  position: fixed;
  padding: 0 15px;
  right: 100px;
  bottom: 100px;
  border: black thin;
  border-radius: 50%;
  font-size: 50px;
  outline: none;
  background-color: rgb(255, 15, 15);
  box-shadow: 0px 0px 4px 2px rgba(73, 72, 72, 0.5);
  transition: all 0.5s;
}

.add-button:hover {
  background-color: rgb(228, 15, 15);
  transform: rotateY(5px);
}

.rotated {
  transform: rotate(135deg);
}

form .submit-button {
    margin: 40px 0;
    height: 45px;
    width: 100%;
}

form .submit-button button {
  cursor: pointer;
    width: 100%;
    height: 100%;
    background: -webkit-linear-gradient(right, #56d8e4, #9f01ea, #56d8e4, #9f01ea);
    color: white;
    font-size: 17px;
    font-weight: 500;
    outline: none;
    border: none;
}

.close-btn {
  cursor: pointer;
    position: absolute;
    right: 30px;
    font-size: 30px;
    font-weight: 600;
    border-radius: 50%;
    outline: none;
    background: none;
    border: none;
}
